h1 {
    padding-top: 1.2em;
    font-size: 2.4em;
    font-family: "Pacifico", cursive;
    font-style: italic;
    font-weight: 800;
    color: black;
    text-align: center;
    letter-spacing: 1px;
  }

h2 {
    background-color:navajowhite;
    font-size: 1.4em;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    border: darkslategrey solid 2px;
  }
p {
    color: black;
    font-size: 0.8em;
  }

.p--var {
  padding-top: 1rem;
}

img {
    display: inline-block;
    vertical-align: top;
    max-width: 160px;
    padding: 2em;
}

.order_box {
  margin-top: 1.6em;
  border: darkslategrey solid 2px;
}

.td--title {
  vertical-align: top;
  width: 30%;
}

.td--sum {
  padding-top: 1.5rem;
}
